.odd,
.cool {
    background-color: #ff748b;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.cool {
    font-size: 24px;
}

#id-one {
    color: #2929df;
    font-size: 36px;
}

#id-two {
    background-color: #82ee82;
    font-size: 24px;
    font-weight: bold;
}