* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 18px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 18px 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 13px;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 10px 24px;
}